* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.project-card {
  border: 2px solid #cdcdcd;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
}

button:hover {
  cursor: pointer;
}

.btn {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
}

.btn-edit {
  background-color: #FFAA81;
  border-color: #FFAA81;
}

.btn-delete {
  border-color: #AA3939;
}

.btn-add {
  background-color: #3EB7B2;
  border-color: #3EB7B2;
}

/* Form */
input, textarea {
  width: 100%;
  border: 2px solid #cdcdcd;
  border-radius: 5px;
  padding: 3px 10px;
  margin-top: 5px;
  display: block;
}

label {
  margin: 10px 0;
  display: block;
}